.home-page{
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.home-input{
    width: 400px;
    height: 40px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.home-button{
    width: 80px;
    height: 35px;
    background-color: green;
    font-size: 16px;
    border: none;
    color: white;
    border-radius: 10px;
}
.home-todo{
    width: 400px;
    height: 450px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

}
#home-text{
    width: 380px;
    min-height: 30px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home-txt{
    font-weight: 200;
    margin-left: 10px;
}
.home-icon{
    width: 100px;
    height: 30px;
    margin-right: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.home-text1{
    text-decoration: line-through;
}
.home-favour{
    color: red;
}